<div class="d-flex flex-column pc" style="margin-top: 100px">
  <div class="p-2"><h1>Nosotros</h1></div>
  <div class="p-2">
    <p>
      TERRAPORTA Propiedades es una empresa formada por agentes jóvenes y
      proactivos que nace en la ciudad de Los Ángeles, con el objeto de
      satisfacer las más variadas demandas del creciente mercado inmobiliario
      local, como corretaje de propiedades habitacionales, comerciales e
      industriales, búsqueda de cabidas y comercialización de proyectos
      inmobiliarios. Esto gracias al trabajo conjunto y coordinado de
      profesionales ágiles y responsables, quienes atenderán sus necesidades con
      la consigna de ofrecer un servicio personalizado, serio y eficiente.
    </p>
  </div>
  <div class="p-2">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src="https://www.terraporta.cl/Docs/Empresa/101/GCv_326102028325.png"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">Eduardo Flores</h5>
            <p class="description-us">
              Corredor fundador de agencia TERRAPORTA Propiedades. Egresado de
              la carrera de Derecho. Más de 10 años de experiencia en corretaje
              de propiedades. Fue corredor asociado de la agencia americana
              RE/MAX durante 3 años.

              <b>eduardoflores@terraporta.cl</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src="https://www.terraporta.cl/Docs/Empresa/101/GCv_326102028325.png"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">Eduardo Flores</h5>
            <p class="description-us">
              Corredor fundador de agencia TERRAPORTA Propiedades. Egresado de
              la carrera de Derecho. Más de 10 años de experiencia en corretaje
              de propiedades. Fue corredor asociado de la agencia americana
              RE/MAX durante 3 años.

              <b>eduardoflores@terraporta.cl</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src="https://www.terraporta.cl/Docs/Empresa/101/GCv_326102028325.png"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">Eduardo Flores</h5>
            <p class="description-us">
              Corredor fundador de agencia TERRAPORTA Propiedades. Egresado de
              la carrera de Derecho. Más de 10 años de experiencia en corretaje
              de propiedades. Fue corredor asociado de la agencia americana
              RE/MAX durante 3 años.

              <b>eduardoflores@terraporta.cl</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src="https://www.terraporta.cl/Docs/Empresa/101/GCv_326102028325.png"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">Eduardo Flores</h5>
            <p class="description-us">
              Corredor fundador de agencia TERRAPORTA Propiedades. Egresado de
              la carrera de Derecho. Más de 10 años de experiencia en corretaje
              de propiedades. Fue corredor asociado de la agencia americana
              RE/MAX durante 3 años.

              <b>eduardoflores@terraporta.cl</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src="https://www.terraporta.cl/Docs/Empresa/101/GCv_326102028325.png"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">Eduardo Flores</h5>
            <p class="description-us">
              Corredor fundador de agencia TERRAPORTA Propiedades. Egresado de
              la carrera de Derecho. Más de 10 años de experiencia en corretaje
              de propiedades. Fue corredor asociado de la agencia americana
              RE/MAX durante 3 años.

              <b>eduardoflores@terraporta.cl</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src="https://www.terraporta.cl/Docs/Empresa/101/GCv_326102028325.png"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">Eduardo Flores</h5>
            <p class="description-us">
              Corredor fundador de agencia TERRAPORTA Propiedades. Egresado de
              la carrera de Derecho. Más de 10 años de experiencia en corretaje
              de propiedades. Fue corredor asociado de la agencia americana
              RE/MAX durante 3 años.

              <b>eduardoflores@terraporta.cl</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src="https://www.terraporta.cl/Docs/Empresa/101/GCv_326102028325.png"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">Eduardo Flores</h5>
            <p class="description-us">
              Corredor fundador de agencia TERRAPORTA Propiedades. Egresado de
              la carrera de Derecho. Más de 10 años de experiencia en corretaje
              de propiedades. Fue corredor asociado de la agencia americana
              RE/MAX durante 3 años.

              <b>eduardoflores@terraporta.cl</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
