<div  class="d-flex flex-column pc" style="margin-top: 100px">
  <div class="p-2"><h1>Nosotros</h1></div>
  <div class="p-2">
    <p>
      PROPIEDADES Figueroa es una empresa conformada por agentes jóvenes y
      altamente motivados que nace en la ciudad de Los Ángeles, con el objetivo
      de satisfacer las diversas demandas del creciente mercado inmobiliario
      local. Nos especializamos en corretaje de propiedades residenciales,
      comerciales e industriales, así como en la búsqueda de terrenos y la
      comercialización de proyectos inmobiliarios. Nuestro equipo de
      profesionales altamente capacitados trabaja de manera conjunta y
      coordinada para atender sus necesidades, brindando un servicio
      personalizado, confiable y eficiente
    </p>
  </div>
  <div class="p-2">
    <div class="row">
      <div  class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src={{integrantes[0].img}}
            class="card-img"
            alt="..."
            height="277"
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">{{integrantes[0].nombre}}</h5>
            <p class="description-us">
             {{integrantes[0].descripcion}}

              <b>empleado@correo.cl</b>
            </p>
          </div>
        </div>
      </div>
      <div  class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src={{integrantes[1].img}}
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">{{integrantes[1].nombre}}</h5>
            <p class="description-us">
             {{integrantes[1].descripcion}}

              <b>empleado@correo.cl</b>
            </p>
          </div>
        </div>
      </div>
      <div  class="col-sm-12 col-md-3">
        <div class="card img-card">
          <img
            src={{integrantes[2].img}}
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay overlay1"></div>
          <div class="mover" style="height: 30px">
            <h5 style="text-align: center">{{integrantes[2].nombre}}</h5>
            <p class="description-us">
             {{integrantes[2].descripcion}}

              <b>empleado@correo.cl</b>
            </p>
          </div>
        </div>
      </div>
     
  </div>
</div>

