<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark">
  <div class="container">
    <div style=" width: 200px; height: 70px;"><img style="transform: translateY(-110px);" src="../assets/img/logo/Propieades Figueroa-logos_white.png" width="300" height="300"  alt=""></div>
    
    <button
     style="background-color:rgb(241,90,41) ;"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul id="navbarNav" class="nav justify-content-end collapse navbar-collapse">
      <li class="nav-item">
        <a class="nav-link links-nav" aria-current="page" href="/nosotros"
          ><b>Nosotros</b></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link links-nav" href="/contacto"><b>Contacto</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link links-nav" href="#"><i class="fa-solid fa-phone fa-xs"></i> <b> +56987654321</b></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet/>
<footer id="footer" class="bg-dark" style=" padding-top: 10px; ">
  <div class="row" style="margin: auto; width: 80%">
    <div class="col">
      <p>
        Avenida Gabriela Mistral 146, <br />Los Ángeles, Chile <br />
        <i class="fa-solid fa-phone fa-xs"></i> 999886
      </p>
      
      <p><i class="fa-regular fa-envelope"></i> coordinacion@terraporta.cl</p>
    </div>
    <div class="col">
      <h5>REDES SOCIALES</h5>
      <br /><div style="height: 5px; width: 50%; background-color:rgb(241,90,41); border-radius: 3px;"></div>
      <div class="rrss-icons" ><i class="fa-brands fa-facebook-f fa-fade fa-lg" style="margin: 5px; color: wheat;"></i></div>
      <div class="rrss-icons" ><i class="fa-brands fa-instagram fa-lg" style="margin: 5px; color: wheat;"></i></div>

    </div>
    <div class="col">
      <h5>HORARIO DE ATENCIÓN OFICINA</h5>
      <br /><div style="height: 5px; width: 50%; background-color:rgb(241,90,41); border-radius: 3px;"></div> <br />
      <p>Lunes a viernes: 9:30 a 17:30hrs.</p>
      <div class="col">
        <h5>CONSULTAS AL WHATSAPP 24/7</h5>
        <br /><div style="height: 5px; width: 50%; background-color:rgb(241,90,41); border-radius: 3px;"></div>
        <div class="rrss-icons" ><i class="fa-brands fa-whatsapp fa-lg" style="margin: 5px; color: wheat;"></i></div>
        
        </div>
    </div>
  </div>
  <br />
  <div class="d-flex justify-content-between" style="width: 80%; margin: auto">
    <div class="col"><p>Derechos Reservados; 2023 TerraPorta.</p></div>
    <div class="col" style="text-align: end">
      <p>Desarrollado por Gabriel Figueroa</p>
      
    </div>
  </div>
</footer>
